.news{
    
}

.news .card{
    width: 100%;
    margin-top: 1rem;
    box-shadow: 0px 0px 3px 0px rgba(0, 128, 128, 0.5);
}

.news .articles:last-child{
    margin-bottom: 4rem;
}


.news .appbar{
    background-color: teal;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    
}

.news button{
    background-color: teal;
}

.news .appbar button:focus {
    outline: none;
}