@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "./Styles/Navbar.css";
@import "./Styles/Fixtures.css";
@import "./Styles/News.css";

.day-tab{
  border-bottom: 2px solid teal;
}

.home .appbar{
  background-color: teal;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}


.loading-div{
  position: absolute;
  top: 40%;
  left: 45%;
}


@keyframes blinking{
  0% {
    background-color: teal;
  }
  50%{
    background-color:rgb(3, 184, 184);
  }

  100% {
    background-color: teal;
  }
}

.blink {
  animation: blinking 3s infinite;
}