@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 3.8rem;
  z-index: 9999;
}


.navbar button{
  transform: scale(1.2);
}

.navbar button:focus {
  outline: none;
}

.day-tab{
  border-bottom: 2px solid teal;
}

.fixtures img{
  height: 1.5rem;
}

.fixtures p{
  margin: auto;
  margin-left: 0rem;
  font-size: 0.7rem;
}

.fixtures .status{
  font-size: 0.7rem;
}

.fixtures .score{
  font-size: 1rem;
}