@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 3.8rem;
}


.navbar button{
  transform: scale(1.2);
}

.navbar button:focus {
  outline: none;
}

